*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    color:rgba(8,28,36,.5);
    position: relative;
    .header{
        display:flex;
        flex-direction: row;
        background-color:#fff;
        width: 100%;
        height: 100px;
        padding-left: 100px;
        margin:0 0;
        position: fixed;
        top:0;
        left: 0;
        z-index:1;
        .material-icons{
            margin-left:20px;
            line-height: 100px;
            color:#ccc;
            width: 20px;
            height: 20px;
        }
        input{
            width: 100%;
            height: 20px;
            margin: 40px 0px 40px 10px;
            &:focus{
                outline:none !important;
                outline-width: 0 !important;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }    
        }
    }
    .ppal{
        display:flex;
        flex-direction: row;
        height: 100%;
        .info{
            nav{
                display:block;
                width: 100px;
                height: 100vh;
                position: fixed;
                top:0;
                left: 0;
                z-index:1;
                .logo{
                    background-color:#000;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    width:100px;
                    height: 100px;
                    .icon-logo{
                        transition: all .3s ease-in;
                    }
                    &:hover{
                        .icon-logo{
                            transform: scale(1.1);
                            transition: all .3s ease-out;
                        }
                    }                  
                }
                .navigation{
                    a{
                        display:flex;
                        flex-direction:column;
                        justify-content: center;
                        text-decoration: none;
                        color: rgba(8,28,36,.7);
                        transition: all .3s ease-in;
                        background-color:#fff;
                        width:100px;
                        height: 100px;
                        text-align: center;
                        border-bottom: solid 1px #ccc;
                        img{
                            display:block;
                            margin: 0 auto;
                            width: 20px;
                            height: 20px;
                            color: #ccc;
                        }
                        &:hover{
                            color:#081c24;
                            transition: all .3s ease-out;
                        }
                    }
                }
            }
        }
        .home{
            width: calc(100% - 100px);
            padding:100px 0 0 100px;
            .banner-home{
                height: 400px;
                position:relative;
                overflow:hidden;
                .img-home{
                    width: 100%;
                    opacity:0.5;
                }
                p{
                    position:absolute;
                    top:0;
                    left:40%;
                    z-index: 1;
                    line-height: 400px;
                    text-align: center;
                    color:#000;
                    font-size: 30px;
                }
            }
            .container{
                display:flex;
                flex-direction: column;
                width:90%;
                margin: 10px auto;
                .title-section{
                    display:block;
                    margin: 15px 15px;
                    .title-category{
                        float: left;
                        color: #081c24;
                    }
                    .view-all{
                        float:right;
                        text-decoration: none;
                        color: rgba(8,28,36,.7);
                        transition: all .3s ease-in;
                        &:hover{
                            color:#081c24;
                            transition: all .3s ease-out;
                        }
                    }
                }
                .movies-list{
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-decoration: none;
                    list-style: none;
                    .movie{
                        width: 15%;
                        margin: 10px 15px;
                        .link{
                            text-decoration: none;
                            .movie-img{
                                width: 90%;
                                transition: all .3s ease-in;
                                .img{
                                    width:100%;
                                    height: 100%;
                                }
                            }
                            .movie-title{
                                margin: 15px 0;
                                color:rgba(8,28,36,.5);
                                transition: all .3s ease-in;
                            }
                        }
                        &:hover{
                            .movie-img{
                                transform: scale(1.05);
                                transition: all .3s ease-out;
                            }
                            .movie-title{
                                color:#081c24;
                                transition: all .3s ease-out;
                            }
                        }
                    }
                }
            }
        }
    }
    .close-modal{
        display:none;
    }
    .modal-container{
        display:block;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index:1;
        background-color: rgba(8,28,36,.2);
        .modal{
            display:block;
            width: 100vh;
            height: 100vh;
            background-color: #ccc;
            margin: 30px auto;
            position: relative;
            overflow: hidden;
            .first-div{
                width: 100%;
                height: 40%;
                .header-img{
                    width: 100%;
                    opacity: 0.2;
                }
                .movie-header{
                    position:absolute;
                    z-index:1;
                    top:0;
                    right: 0;
                    width: 100%;
                    height: 50%;
                    margin: 10px 15px;
                    a{
                        display:block;
                        width: 100%;
                        text-align: right;
                    }
                    div{
                        width: 50%;
                        float: right;
                        margin: 90px 0;
                        .movie-title{
                            color: rgb(119, 51, 51);
                            margin: 5px 0;
                            font-size: 20px;
                        }
                    }
                }
            }
            .movie-info{
                width: 100%;
                height: 60%;
                background-color: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
                .movie-image{
                    width: 200px;
                    height: 300px;
                    z-index:1;
                    position:absolute;
                    top:-40%;
                    left:45px;
                    background-size: cover;
                }
                .movie-description{
                    height: 100%;
                    width: 50%;
                    position: absolute;
                    bottom:0;
                    right: 0;
                    margin: 0 15px;
                    h4{
                        color: rgb(119, 51, 51);
                    }
                    p{
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}

.container-list{
    display:flex;
    flex-direction:column;
    margin: 0 auto;
    width: 90%;
    .title{
        color: #081c24;
        font-size: 20px;
    }
    .button{
        display:block;
        text-align: center;
        width: 100px;
        text-decoration: none;
        padding: 5px 10px;
        margin: 5px 5px;
        color: #323a3d;
        border: 1px solid #323a3d;
        transition: all 0.5s ease-in;
        &:hover{
            background-color: #323a3d;
            color:#fff;
            transition: all 0.5s ease-out;
        }
    }
}


.menu-on{
    display:block;
    width: 200px;
    height: 400px;
    background-color: #000;
    z-index:1;
    .nav-list{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
        li{
            width: 50px;
            height: 50px;
            list-style: none;
            a{
                text-decoration: none;
            }
        }
    }
}


@media only screen and (max-width: 600px){
    body{
        .ppal{
            .info{
                display:none;
            }
        }
        .header{
            .menu{
                display:block;
            }
            .menu-on{
                display:block;
                width: 200px;
                height: 100%;
                background-color: #000;
                .nav-list{
                    display:flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    flex: 1;
                    li{
                        width: 50px;
                        height: 50px;
                        list-style: none;
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}