*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    color:rgba(8,28,36,.5);
    position: relative;
    .header{
        display:flex;
        flex-direction: row;
        background-color:#fff;
        width: 100%;
        height: 100px;
        padding-left: 100px;
        margin:0 0;
        position: fixed;
        top:0;
        left: 0;
        z-index:1;
        .menu-on{
            display:none;
        }
        .material-icons{
            margin-left:20px;
            line-height: 100px;
            color:#ccc;
            width: 20px;
            height: 20px;
        }
        input{
            width: 100%;
            height: 20px;
            margin: 40px 0px 40px 10px;
            &:focus{
                outline:none !important;
                outline-width: 0 !important;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }    
        }
    }
    .ppal{
        display:flex;
        flex-direction: row;
        height: 100%;
        .info{
            nav{
                display:block;
                width: 100px;
                height: 100vh;
                position: fixed;
                top:0;
                left: 0;
                z-index:1;
                .logo{
                    background-color:#000;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    width:100px;
                    height: 100px;
                    .icon-logo{
                        transition: all .3s ease-in;
                    }
                    &:hover{
                        .icon-logo{
                            transform: scale(1.1);
                            transition: all .3s ease-out;
                        }
                    }                  
                }
                .navigation{
                    a{
                        display:flex;
                        flex-direction:column;
                        justify-content: center;
                        text-decoration: none;
                        color: rgba(8,28,36,.7);
                        transition: all .3s ease-in;
                        background-color:#fff;
                        width:100px;
                        height: 100px;
                        text-align: center;
                        border-bottom: solid 1px #ccc;
                        img{
                            display:block;
                            margin: 0 auto;
                            width: 20px;
                            height: 20px;
                            color: #ccc;
                        }
                        &:hover{
                            color:#081c24;
                            transition: all .3s ease-out;
                        }
                    }
                }
            }
        }
        .home{
            width: calc(100% - 100px);
            padding:100px 0 0 100px;
            .banner-home{
                height: 400px;
                position:relative;
                overflow:hidden;
                .img-home{
                    width: 100%;
                    opacity:0.5;
                }
                p{
                    position:absolute;
                    top:0;
                    left:40%;
                    line-height: 400px;
                    text-align: center;
                    color:#000;
                    font-size: 30px;
                }
            }
            .container{
                display:flex;
                flex-direction: column;
                width:90%;
                margin: 10px auto;
                .title-section{
                    display:block;
                    margin: 15px 15px;
                    .title-category{
                        float: left;
                        color: #081c24;
                    }
                    .view-all{
                        float:right;
                        text-decoration: none;
                        color: rgba(8,28,36,.7);
                        transition: all .3s ease-in;
                        &:hover{
                            color:#081c24;
                            transition: all .3s ease-out;
                        }
                    }
                }
                .movies-list{
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-decoration: none;
                    list-style: none;
                    .movie{
                        width: 15%;
                        margin: 10px 15px;
                        .link{
                            text-decoration: none;
                            .movie-img{
                                width: 90%;
                                transition: all .3s ease-in;
                                .img{
                                    width:100%;
                                    height: 100%;
                                }
                            }
                            .movie-title{
                                margin: 15px 0;
                                color:rgba(8,28,36,.5);
                                transition: all .3s ease-in;
                            }
                        }
                        &:hover{
                            .movie-img{
                                transform: scale(1.05);
                                transition: all .3s ease-out;
                            }
                            .movie-title{
                                color:#081c24;
                                transition: all .3s ease-out;
                            }
                        }
                    }
                }
            }
        }
    }
    .close-modal{
        display:none;
    }
    .modal-container{
        display:block;
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        overflow:auto;
        z-index:1;
        background-color: rgba(8,28,36,.98);
        .modal{
            display:block;
            width: 100vh;
            height: 100vh;
            background-color: #ccc;
            margin: 30px auto;
            position: relative;
            overflow: hidden;
            .first-div{
                width: 100%;
                height: 40%;
                background-color: #081c24;
                .header-img{
                    width: 100%;
                    opacity: 0.2;
                }
                .movie-header{
                    position:absolute;
                    z-index:1;
                    top:0;
                    right: 0;
                    width: 100%;
                    height: 50%;
                    margin: 10px 15px;
                    a{
                        display:block;
                        width: 100%;
                        text-align: right;
                        text-decoration: none;
                        color: #fff;
                        font-size: 30px;
                        &:hover{
                            color: #773333;
                        }
                    }
                    div{
                        width: 50%;
                        float: right;
                        margin: 90px 0;
                        .movie-title{
                            color: #bc3b69;
                            margin: 5px 0;
                            font-size: 20px;
                        }
                    }
                }
            }
            .movie-info{
                width: 100%;
                height: 60%;
                background-color: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
                .movie-image{
                    width: 200px;
                    height: 300px;
                    z-index:1;
                    position:absolute;
                    top:-40%;
                    left:45px;
                    background-size: cover;
                }
                .movie-description{
                    height: 100%;
                    width: 50%;
                    position: absolute;
                    bottom:0;
                    right: 0;
                    margin: 0 15px;
                    h4{
                        color: rgb(119, 51, 51);
                    }
                    p{
                        margin: 10px 0;
                    }
                    #genres{
                        display:flex;
                        flex-direction: row;
                        list-style: none;
                        text-decoration:none;
                        width: 100%;
                        .genre{
                            margin: 0 2px;
                        }
                    }
                }
            }
        }
    }
}

.container-list{
    display:flex;
    flex-direction:column;
    margin: 10px auto;
    width: 90%;
    .container-title{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        .title{
            color: #081c24;
            font-size: 20px;
        }
    }
    .container-btn{
        margin:0 auto;
        width: 250px;
        flex-direction: row;
        display: flex;
        justify-content: center;
        .button{
            display:block;
            text-align: center;
            width: 100px;
            text-decoration: none;
            padding: 5px 10px;
            margin: 5px 5px;
            color: #323a3d;
            border: 1px solid #323a3d;
            transition: all 0.5s ease-in;
            &:hover{
                background-color: #323a3d;
                color:#fff;
                transition: all 0.5s ease-out;
            }
        }
    }
    .p-results{
        margin:0 auto;
    }
    .all-movies-list{
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        text-decoration: none;
        list-style: none;
        margin: 20px 0;
        .movie{
            margin: 10px 15px;
            .link{
                text-decoration: none;
                .movie-img{
                    width: 90%;
                    transition: all .3s ease-in;
                    .img{
                        width:100%;
                        height: 100%;
                    }
                }
                .movie-title{
                    margin: 15px 0;
                    color:rgba(8,28,36,.5);
                    transition: all .3s ease-in;
                }
            }
            &:hover{
                .movie-img{
                    transform: scale(1.05);
                    transition: all .3s ease-out;
                }
                .movie-title{
                    color:#081c24;
                    transition: all .3s ease-out;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    .home{
        .container{
            .movies-list{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                .movie{
                    width: 90%;
                }
            }
        }
    }
    .container-list{
        .all-movies-list{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(10, 1fr);
            }
    }
}

@media only screen and (max-width: 760px){
    body{
        .header{
            height: 80px;
            position: relative;
            position:fixed;
            input{
                margin: 30px 0px 30px 10px;
                width: 70%;
            }
            .menu{
                display:block;
                border-left: 1px solid #f8f8f8;
            }
            .menu-on{
                display:none;
                position:absolute;
                top:80px;
                left:0;
                z-index: 1;
                background-color: rgba(255, 255, 255, 0.9);
                height: calc(100vh - 80px);
                width: 100%;
                .nav-list{
                    display:grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    li{
                        width: 50vh;
                        height: 80px;
                        text-align: center;
                        padding-top: 30px;
                        list-style: none;
                        a{
                            display:block;
                            width: 50vh;
                            height: 80px;
                            text-decoration: none;
                            transition: all .3s ease-in;
                            justify-content: center;
                            color: rgba(8,28,36,.7);
                            img{
                                display:block;
                                margin: 0 auto;
                                width: 20px;
                                height: 20px;
                                color: #ccc;
                            }
                            &:hover{
                                color:#081c24;
                                transition: all .3s ease-out;
                            }
                        }
                    }
                }
            }
            .material-icons{
                line-height: 80px;
            }
        }
        .ppal{
            .home{
                width: 100%;
                padding: 80px 0 0 0;
                .container{
                    .movies-list{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        .movie{
                            width: 90%;
                        }
                    }
                }
            }
            .info{
                nav{
                    .logo{
                        height: 80px;
                    }
                    .navigation{
                        display:none;
                    }
                }
            }
            
        }
    }
}