*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    color:rgba(8,28,36,.5);
    .header{
        display:flex;
        flex-direction: row;
        background-color:#fff;
        width: 100%;
        height: 100px;
        padding-left: 100px;
        margin:0 0;
        position: fixed;
        top:0;
        left: 0;
        .material-icons{
            margin-left:20px;
            line-height: 100px;
            color:#ccc;
        }
        input{
            width: 100%;
            height: 20px;
            margin: 40px 0px 40px 10px;
            &:focus{
                outline:none !important;
                outline-width: 0 !important;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
            }    
        }
    }
    div{
        display:flex;
        flex-direction: row;
        height: 100%;
        .info{
            nav{
                display:block;
                width: 100px;
                height: 100vh;
                position: fixed;
                top:0;
                left: 0;
                .logo{
                    background-color:#000;
                    display:block;
                    width:100px;
                    height: 100px;
                    text-align: center;
                    line-height: 100px;
                    text-decoration: none;
                    color: #fff;  
                    .material-icons{
                        transition: all .3s ease-in;
                    }
                    &:hover{
                        .material-icons{
                            transform: scale(1.1);
                            transition: all .3s ease-out;
                        }
                    }                  
                }
                .navigation{
                    li{
                        background-color:#fff;
                        display:block;
                        width:100px;
                        height: 100px;
                        text-align: center;
                        line-height: 100px;
                        border-bottom: solid 1px #ccc;
                        a{
                            text-decoration: none;
                            color: rgba(8,28,36,.7);
                            transition: all .3s ease-in;
                        }
                        &:hover{
                            a{
                                color:#081c24;
                                transition: all .3s ease-out;
                            }
                            
                        }
                    }
                }
            }
        }
    }
    .home{
        width: calc(100% - 100px);
        padding:100px 0 0 100px;
        .banner-home{
            height: 400px;
            background-image: url(../batman.jpg);
            background-size: cover;
            // opacity:0.5;
            p{
                line-height: 400px;
                text-align: center;
                color:#000;
                font-size: 30px;
            }
        }
        .container{
            display:flex;
            flex-direction: column;
            width:90%;
            margin: 10px auto;
            .title-section{
                display:block;
                margin: 15px 15px;
                .title-category{
                    float: left;
                    color: #081c24;
                }
                .view-all{
                    float:right;
                    text-decoration: none;
                    color: rgba(8,28,36,.7);
                    transition: all .3s ease-in;
                    &:hover{
                        color:#081c24;
                        transition: all .3s ease-out;
                    }
                }
            }
            .movies-list{
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                text-decoration: none;
                list-style: none;
                .movie{
                    width: 15%;
                    margin: 10px 15px;
                    a{
                        text-decoration: none;
                        .movie-img{
                            width: 85%;
                            transition: all .3s ease-in;
                        }
                        .movie-title{
                            margin: 15px 0;
                            color:rgba(8,28,36,.5);
                            transition: all .3s ease-in;
                        }
                    }
                    &:hover{
                        .movie-img{
                            transform: scale(1.05);
                            transition: all .3s ease-out;
                        }
                        .movie-title{
                            color:#081c24;
                            transition: all .3s ease-out;
                        }
                    }
                }
            }
        }
    }
}


